<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entra a manejar dinoREX</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css' %}"/>
</head>
<body>
    <div class="wrapper">
        <h2>Bienvenido a Botzilla</h2>
        <form action="#">
            <div class="input-field">
                <input type="email" id="email" placeholder="Usuario" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-field">
                <input type="password" id="password" placeholder="Contraseña" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <a href="#" class="forgot">
                <p class="account-query">Olvidaste tu contraseña?</p>
            </a>
            <button type="submit" class="login">Iniciar sesion</button>
            <p>No tienes una cuenta? <a href="#" class="sin-up">registrate</a></p>
        </form>
    </div>
</body>
</html>
